<footer class="site-footer">
    <div class="container footer-grid">
        <div class="footer-brand">
            <h2>Nexial<span class="text-highlight">Devs</span></h2>
            <p>Transformando operações complexas em soluções digitais inteligentes e sob medida para o seu negócio.</p>
        </div>

        <div class="footer-links">
            <h3>Navegação</h3>
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#portfolio">Projetos Entregues</a> </li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#equipe">Nossa Equipe</a></li>
            </ul>
        </div>

        <div class="footer-contact">
            <h3>Fale Conosco</h3>
            <p>nexialdevs@gmail.com</p>
            <p>WhatsApp: <a href="https://wa.me/5567998052045?text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20sobre%20as%20solu%C3%A7%C3%B5es%20e%20servi%C3%A7os%20da%20NexialDevs" target="_blank" class="whatsapp-link">(67) 99805-2045</a></p>
            <div class="social-icons">
                <a href="" title="LinkedIn"><img src="/assets/img/icons/linkedin_icon.png" class="icon"></a>
                <a href="https://www.instagram.com/nexialdevs?igsh=bGgxYm04cHVxYWdy" target="_blank" title="Instagram"><img src="/assets/img/icons/Instagram_icon.png" class="icon"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 NexialDevs. Todos os direitos reservados.</p>
        <p>Desenvolvido no Brasil</p>
    </div>
</footer>